:root {
    --header-bg: #cb997e;
    --header-text: #fff;
    --body-bg: #fff;
    --body-text: #1a1d17;
    --accent-color: #6b7b5c;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--header-bg);
    color: var(--header-text);
}


.header h1 {
    margin: 10px;
    font-size: 48px;
}


/* nav styling */
.header nav {
    display: flex;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 150%;
}

.header nav a {
    color: var(--header-text);
}

.header nav a:focus {
    color: var(--body-text);
    font-weight: bold;
}

.header nav a:hover {
    color: var(--accent-color)
}

.header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 300px;
    width: 100%;
    background-position:center;
    background-image: url("../Assets/L1008447.jpg");
    background-attachment: fixed;
    background-size: cover;
}

section {
    background: var(--body-bg);
    display: inline-block;
    flex-wrap: wrap;
    margin: 5px;
}


.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.parent h2 {
    font-size: 40px;
    color: var(--accent-color);
    text-align: end;
}

.aside-child {
    flex: 0 0 20%;
    color: var(--alt-color);
    padding: 20px;
    border-right: 5px solid var(--accent-color);
}

.body-child {
    flex: 0 0 80%;
    color: var(--body-text);
    padding: 20px;
  }
    
section p {
    flex: 0 0 80%;
    padding: 20px;
    color: var(--body-text);
}

.imagebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


.image-large {
    flex-basis: 100%;
    background-image: url(./L1008438.jpg);
    background-position: center;
    height: 45vh;
    min-height: 300px;
    width: 90%;
  }

.image-large-caption {
    position: relative;
    display: inline-block;
    align-items: center;
}

.image-large:hover {
    border: #abbb9c solid px;
    padding: 0%;
    transition: all 0.3s;
    transform: scale(1.0,1.0);
  
}
.image-small {
    flex-basis: 50%;
    position: relative;
    padding: 10px;
    background-image: url(../Assets/L1008429.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    min-height: 200px;
    height: 30vh;
  }

.caption {
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
    bottom: 70px;
    width: 100%;
    font-size: xx-large;
    height: 27%;
    opacity: 0;
    background: var(--body-text);  
    transition: opacity 1s ease-in-out; 
    color: var(--header-bg);
}


 /* article {
    background: var(--body-bg);
    flex-direction: column;
    display: inline-block;
    margin: 5px;
}

article h2 {
    position: relative;
    flex-direction: column;
    display: inline-block;
    width: 15%;
    text-align: right;
    color: var(--accent-color);
    font-size: 55px;
    padding: 5px;
    border-right: 5px solid var(--accent-color);
} */ 

.box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 5%;
    width: 100%;
}

.cards {
    background-image: url(../Assets/L1008429.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 0;

    width: 40%;
    min-height: 200px;
    height: 30vh;
    flex-basis: 50%;
    padding: 10px;
    TODO edit the padding between images 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    line-height: 1;
    transition: all 1s;
} 
.cards#large {
    background-image: url(../Assets/L1008438.jpg);
    background-position: relative;
    flex-basis: 100%;
    height: 45vh;
    min-height: 300px;
    width: 90%;
}

.cards section {
    background-color: var(--header-bg);
    bottom: 20px;
    color: var(--body-bg);
    line-height: 1.1;

    margin: 0 auto 0 0;
    padding: 2px 25px 5px 5px;
    position: relative;
}

.cards h3{
    font-size: ;
    color: var(--body-bg);
    font-style: none;
}



/* contact me nav section */
main nav {
    display: flex;
    justify-content: space-between;
    display: inline-block;
    width: 80%;
    color: var(--body-text);
    font-size: 25px;
    margin: 20px;
    padding: 10px, 50px,10px,50px;
}

main nav a {
    color: var(--body-text);
}

main nav a:focus {
    color: var(--accent-color);
    font-weight: bold;
}

main nav a:hover {
    color: var(--accent-color);
    font-weight: bold;
}
main nav ul {
    list-style-type: none;
}

main nav ul li {
    display: inline-block;
    margin-left: 25px;
}