:root {
    --header-bg: #cb997e;
    --header-text: #fff;
    --body-bg: #fff;
    --body-text: #1a1d17;
    --accent-color: #6b7b5c;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--header-bg);
    color: var(--header-text);
}


.header h1 {
    margin: 10px;
    font-size: 48px;
}


/* nav styling */
.header nav {
    display: flex;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 150%;
}

.header nav a {
    color: var(--header-text);
}

.header nav a:focus {
    color: var(--body-text);
    font-weight: bold;
}

.header nav a:hover {
    color: var(--accent-color)
}

.header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

main {
    background: var(--body-bg);
    padding-right: 200px;
}

p {
    text-align: justify;
    font-size: 20px;
    color: var(--body-text);
}
.hero {
    height: 300px;
    width: 100%;
    background-position:center;
    background-image: url("../Assets/L1008447.jpg");
    background-attachment: fixed;
    background-size: cover;
}



/* contact me nav section */
main nav {
    display: flex;
    justify-content: space-between;
    display: inline-block;
    width: 80%;
    color: var(--body-text);
    font-size: 25px;
    margin: 20px;
    padding: 10px, 50px,10px,50px;
}

main nav a {
    color: var(--body-text);
}

main nav a:focus {
    color: var(--accent-color);
    font-weight: bold;
}

main nav a:hover {
    color: var(--accent-color);
    font-weight: bold;
}
main nav ul {
    list-style-type: none;
}

main nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.parent h2 {
    font-size: 60px;
    color: var(--accent-color);
    text-align: end;
}

.aside-titles {
    flex: 0 0 15%;
    color: va(--accent-color);
    padding: 20px;
    border-right: 5px solid var(--accent-color);
}

.body-content {
    flex: 0 0 80%;
    color: var(--body-text);
    padding: 20px;
    display: flex;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#main-image {
    flex-basis: 100%;
    position: relative;
    padding: 10px;
}

#main-image img{
    width: 100%;
    border: 10px solid var(--accent-color);
}

#main-image-caption{
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: var(--header-text);
    background-color: var(--accent-color);
    padding: 10px;
    margin: 0;
    font-size: 60px;
}

#small {
    flex-basis: 50%;
    position: relative;
    padding: 10px;
    }

#small img{
  width: 100%;
  height: auto;
  border: 10px solid var(--accent-color);
} 

#small-image-caption{
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: var(--header-text);
    background-color: var(--accent-color);
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

#main-image:hover {
    transition: all 0.5s;
    transform: scale(1.05,1.05);
    background-size: 60%;
    border: 10px solid var(--header-bg);
    padding: 0%;
}

#small:hover {
    transition: all 0.5s;
    transform: scale(1.05,1.05);
    background-size: 60%;
    border: 10px solid var(--header-bg);
    padding: 0%;
}

.body-content nav {
    color: var(--body-text);
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 80%;
    color: var(--body-text);
    font-size: 25px;
    margin: 20px;
    padding: 10px, 50px,10px,50px;
}

.body-content nav a {
    color: var(--body-text);
}

.body-content nav a:focus {
    color: var(--accent-color);
    font-weight: bold;
}

.body-content nav a:hover {
    color: var(--accent-color);
    font-weight: bold;
}
.body-content nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-content nav ul li {
    display: inline-block;
    margin-left: 25px;
}